body {
    font-family: arial;
}

form {
    position: absolute;
    left: 50%;
    margin-top: 7px;
    transform: translateX(-50%);
}

form input {
    margin: 5px;
}

form button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

form.taskForm {
    display: none;
}
